[phases.setup]
nixPkgs = ["python312"]

[phases.install]
cmds = ["python3 -m pip install --upgrade pip setuptools wheel", "python3 -m pip install -r requirements.txt"]

[start]
cmd = "python3 run_server.py"
